/*


- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */

:root {
	--paleblue: hsl(225, 100%, 94%);
	--brightblue: hsl(245, 75%, 52%);
	--Verypaleblue: hsl(225, 100%, 98%);
	--Desaturatedblue: hsl(224, 23%, 55%);
	--Darkblue: hsl(223, 47%, 23%);
}

body {
	font-family: 'Red Hat Display', sans-serif;
}
